body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.campos{
    display: flex;
    flex-direction: column;
}

input{
    width: 250px;
}

.btns{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

button{
    width: fit-content;
}

