
.br-button {
  --button-background: transparent;
  --button-border: transparent;
  --button-color: var(--interactive);
  --button-radius: 100em;
  --button-font-size: var(--font-size-scale-up-01);
  --button-font-weight: var(--font-weight-semi-bold);
  --button-xsmall: 24px;
  --button-small: 32px;
  --button-medium: 40px;
  --button-large: 48px;
  --button-size: var(--button-medium);
  --button-padding: 0 var(--spacing-scale-3x);
  --button-img: 20px;
  --interactive-rgb: var(--rgb-primary-default);
  align-items: center;
  background-color: var(--button-background);
  border: 1px solid var(--button-border);
  border-radius: var(--button-radius);
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--button-size);
  justify-content: center;
  padding: var(--button-padding);
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.br-button img {
  max-height: var(--button-img);
}
.br-button.block {
  width: 100%;
}
@media (min-width: 575px) {
  .br-button.block-sm {
    width: 100%;
  }
  .br-button.auto-sm {
    width: auto;
  }
}
@media (min-width: 992px) {
  .br-button.block-md {
    width: 100%;
  }
  .br-button.auto-md {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .br-button.block-lg {
    width: 100%;
  }
  .br-button.auto-lg {
    width: auto;
  }
}
@media (min-width: 1600px) {
  .br-button.block-xl {
    width: 100%;
  }
  .br-button.auto-xl {
    width: auto;
  }
}
.br-button.circle, .br-button[circle], .br-button.is-circle {
  border-radius: 50%;
  padding: 0;
  width: var(--button-size);
}
.br-button.xsmall, .br-button[xsmall], .br-button.is-xsmall {
  --button-size: var(--button-xsmall);
}
.br-button.small, .br-button[small], .br-button.is-small {
  --button-size: var(--button-small);
}
.br-button.medium, .br-button[medium], .br-button.is-medium {
  --button-size: var(--button-medium);
}
.br-button.large, .br-button[large], .br-button.is-large {
  --button-size: var(--button-large);
}
.br-button.primary, .br-button[primary], .br-button.is-primary {
  --interactive-rgb: var(--rgb-secondary-01);
  --button-background: var(--color-primary-default);
  --button-color: var(--color-secondary-01);
}
.br-button.primary.inverted, .br-button.primary.is-inverted, .br-button.primary[inverted], .br-button[primary].inverted, .br-button[primary].is-inverted, .br-button[primary][inverted], .br-button.is-primary.inverted, .br-button.is-primary.is-inverted, .br-button.is-primary[inverted] {
  --interactive-rgb: var(--rgb-primary-default);
  --hover: var(--surface-opacity-xs, 0.16);
  --button-background: var(--color-secondary-01);
  --button-color: var(--color-primary-default);
}
.br-button.secondary, .br-button[secondary], .br-button.is-secondary {
  --button-background: var(--color-secondary-01);
  --button-border: var(--color-primary-default);
}
.br-button.secondary.inverted, .br-button.secondary.is-inverted, .br-button.secondary[inverted], .br-button[secondary].inverted, .br-button[secondary].is-inverted, .br-button[secondary][inverted], .br-button.is-secondary.inverted, .br-button.is-secondary.is-inverted, .br-button.is-secondary[inverted] {
  --hover: var(--surface-opacity-xs, 0.16);
  --button-background: var(--color-primary-default);
  --button-border: var(--color-secondary-01);
  --button-color: var(--color-secondary-01);
}
.br-button.inverted, .br-button.is-inverted, .br-button[inverted] {
  --interactive: var(--color-secondary-01);
  --interactive-rgb: var(--rgb-secondary-01);
  --hover: var(--surface-opacity-sm, 0.3);
  --focus-color: var(--color-support-10);
}
.br-button.danger, .br-button[danger], .br-button.is-danger {
  --button-background: var(--color-danger);
  --button-color: var(--color-secondary-01);
}
.br-button.success, .br-button[success], .br-button.is-success {
  --button-background: var(--color-success);
  --button-color: var(--color-secondary-01);
}
.br-button.warning, .br-button[warning], .br-button.is-warning {
  --button-background: var(--color-warning);
}
.br-button.info, .br-button[info], .br-button.is-info {
  --button-background: var(--color-info);
  --button-color: var(--color-secondary-01);
}
.br-button:disabled {
  cursor: not-allowed;
}
.br-button:not(:disabled):focus {
  outline: none;
}
.br-button:not(:disabled).focus-visible, .br-button:not(:disabled):focus-visible {
  outline-color: var(--focus-color);
  outline-offset: var(--focus-offset);
  outline-style: var(--focus-style);
  outline-width: var(--focus-width);
}
.br-button:not(:disabled):not(:disabled):hover {
  background-image: linear-gradient(rgba(var(--interactive-rgb), var(--hover)), rgba(var(--interactive-rgb), var(--hover)));
}
.br-button:not(:disabled):not(:disabled):active {
  background-image: linear-gradient(rgba(var(--interactive-rgb), var(--pressed)), rgba(var(--interactive-rgb), var(--pressed)));
}
.br-button.active, .br-button.is-active, .br-button[active] {
  --button-background: var(--active);
  --button-color: var(--color-secondary-01);
}
.br-button.active:hover, .br-button.is-active:hover, .br-button[active]:hover {
  --interactive-rgb: var(--rgb-secondary-01);
  --hover: var(--surface-opacity-sm, 0.3);
}
.br-button.loading::after, .br-button[loading]::after, .br-button.is-loading::after {
  border-color: var(--button-color) var(--button-color) transparent;
  border-style: solid;
}
.br-button.loading.primary::after, .br-button.loading.danger::after, .br-button.loading.success::after, .br-button.loading.info::after, .br-button[loading].primary::after, .br-button[loading].danger::after, .br-button[loading].success::after, .br-button[loading].info::after, .br-button.is-loading.primary::after, .br-button.is-loading.danger::after, .br-button.is-loading.success::after, .br-button.is-loading.info::after {
  border-color: var(--button-color) var(--button-color) transparent;
}

.mt-3,
.my-3 {
  margin-top: 16px !important;
}

.mt-sm-0,
.my-sm-0 {
    margin-top: 0 !important;
  }

.ml-sm-3,
.mx-sm-3 {
    margin-left: 16px !important;
  }
  
button,
[type=button],
[type=reset],
[type=submit] {
appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: var(--font-line-height-medium);
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    --font-size: var(--font-size-scale-base);
    --text-color: var(--color-secondary-08);
    --link-color: var(--color-primary-default);
    --bg-color: var(--color-secondary-01);
    --font-weight: var(--font-weight-regular);
    --line-height: var(--font-line-height-medium);
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    background: inherit;
}

:root {
    --font-family-base: Rawline, Raleway, sans-serif;
    --color-primary-pastel-01: #c5d4eb;
    --color-primary-pastel-02: #dbe8fb;
    --color-primary-lighten-01: #2670e8;
    --color-primary-lighten-02: #5992ed;
    --color-primary-default: #1351b4;
    --color-primary-darken-01: #0c326f;
    --color-primary-darken-02: #071d41;
    --color-secondary-01: #fff;
    --color-secondary-02: #f8f8f8;
    --color-secondary-03: #ededed;
    --color-secondary-04: #ccc;
    --color-secondary-05: #9e9d9d;
    --color-secondary-06: #888;
    --color-secondary-07: #555;
    --color-secondary-08: #333;
    --color-secondary-09: #000;
    --color-highlight: #268744;
    --color-success: #168821;
    --color-warning: #ffcd07;
    --color-danger: #e60000;
    --color-info: #155bcb;
    --color-support-01: #36a191;
    --color-support-02: #f2e317;
    --color-support-03: #d84800;
    --color-support-04: #a26739;
    --color-support-05: #40e0d0;
    --color-support-06: #48cbeb;
    --color-support-07: #c72487;
    --color-support-08: #63007f;
    --color-support-09: #f08080;
    --color-support-10: #ff8c00;
    --color-support-11: #fdf5e6;
    --color-facebook: #3b5998;
    --color-google-plus: #db4a39;
    --color-linkedin: #0e76a8;
    --color-twitter: #00acee;
    --color-whatsapp: #25d366;
    --color-xbox: #9bc848;
    --color-yahoo: #720e9e;
    --color-youtube: #c4302b;
    --rgb-primary-pastel-01: 197, 212, 235;
    --rgb-primary-pastel-02: 219, 232, 251;
    --rgb-primary-lighten-01: 38, 112, 232;
    --rgb-primary-lighten-02: 89, 146, 237;
    --rgb-primary-default: 19, 81, 180;
    --rgb-primary-darken-01: 12, 50, 111;
    --rgb-primary-darken-02: 7, 29, 65;
    --rgb-secondary-01: 255, 255, 255;
    --rgb-secondary-02: 248, 248, 248;
    --rgb-secondary-03: 237, 237, 237;
    --rgb-secondary-04: 204, 204, 204;
    --rgb-secondary-05: 158, 157, 157;
    --rgb-secondary-06: 136, 136, 136;
    --rgb-secondary-07: 85, 85, 85;
    --rgb-secondary-08: 51, 51, 51;
    --rgb-secondary-09: 0, 0, 0;
    --rgb-highlight: 38, 135, 68;
    --rgb-success: 22, 136, 33;
    --rgb-warning: 255, 205, 7;
    --rgb-danger: 230, 0, 0;
    --rgb-info: 21, 91, 203;
    --rgb-support-01: 54, 161, 145;
    --rgb-support-02: 242, 227, 23;
    --rgb-support-03: 216, 72, 0;
    --rgb-support-04: 162, 103, 57;
    --rgb-support-05: 64, 224, 208;
    --rgb-support-06: 72, 203, 235;
    --rgb-support-07: 199, 36, 135;
    --rgb-support-08: 99, 0, 127;
    --rgb-support-09: 240, 128, 128;
    --rgb-support-10: 255, 140, 0;
    --rgb-support-11: 253, 245, 230;
    --rgb-facebook: 59, 89, 152;
    --rgb-google-plus: 219, 74, 57;
    --rgb-linkedin: 14, 118, 168;
    --rgb-twitter: 0, 172, 238;
    --rgb-whatsapp: 37, 211, 102;
    --rgb-xbox: 155, 200, 72;
    --rgb-yahoo: 114, 14, 158;
    --rgb-youtube: 196, 48, 43;
    --icon-size-base: 16px;
    --icon-size-xs: 8px;
    --icon-size-sm: 12px;
    --icon-size-lg: 20px;
    --icon-size-2x: 32px;
    --icon-size-3x: 48px;
    --icon-size-4x: 64px;
    --icon-size-5x: 80px;
    --icon-size-6x: 96px;
    --icon-size-7x: 112px;
    --icon-size-8x: 128px;
    --icon-size-9x: 144px;
    --icon-size-10x: 160px;
    --surface-width-none: 0;
    --surface-width-sm: 1px;
    --surface-width-md: 2px;
    --surface-width-lg: 4px;
    --surface-rounder-none: 0;
    --surface-rounder-sm: 4px;
    --surface-rounder-md: 8px;
    --surface-rounder-lg: 16px;
    --surface-rounder-pill: 999em;
    --surface-opacity-none: 0;
    --surface-opacity-default: 1;
    --surface-opacity-xs: 0.16;
    --surface-opacity-sm: 0.3;
    --surface-opacity-md: 0.45;
    --surface-opacity-lg: 0.65;
    --surface-opacity-xl: 0.85;
    --surface-border-solid-none: var(--surface-width-none) solid var(--color-secondary-06);
    --surface-border-solid-sm: var(--surface-width-sm) solid var(--color-secondary-06);
    --surface-border-solid-md: var(--surface-width-md) solid var(--color-secondary-06);
    --surface-border-solid-lg: var(--surface-width-lg) solid var(--color-secondary-06);
    --surface-border-dashed-none: var(--surface-width-none) dashed var(--color-secondary-06);
    --surface-border-dashed-sm: var(--surface-width-sm) dashed var(--color-secondary-06);
    --surface-border-dashed-md: var(--surface-width-md) dashed var(--color-secondary-06);
    --surface-border-dashed-lg: var(--surface-width-lg) dashed var(--color-secondary-06);
    --surface-blur-none: 0;
    --surface-blur-sm: 1px;
    --surface-blur-md: 3px;
    --surface-blur-lg: 6px;
    --surface-offset-none: 0;
    --surface-offset-sm: 1px;
    --surface-offset-md: 3px;
    --surface-offset-lg: 6px;
    --surface-offset-xl: 9px;
    --surface-shadow-none: none;
    --surface-shadow-sm: var(--surface-offset-none) var(--surface-offset-md) var(--surface-blur-lg) rgba(var(--rgb-secondary-09), var(--surface-opacity-xs));
    --surface-shadow-md: var(--surface-offset-md) var(--surface-offset-lg) var(--surface-blur-lg) rgba(var(--rgb-secondary-09), var(--surface-opacity-xs));
    --surface-shadow-lg: var(--surface-offset-lg) var(--surface-offset-xl) var(--surface-blur-lg) rgba(var(--rgb-secondary-09), var(--surface-opacity-xs));
    --surface-overlay-scrim: rgba(var(--rgb-secondary-09), var(--surface-opacity-md));
    --surface-overlay-text: linear-gradient(rgba(var(--rgb-secondary-01), var(--surface-opacity-none)), rgba(var(--rgb-secondary-09), var(--surface-opacity-default)));
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
    --font-size-scale-base: 14px;
    --font-size-scale-down-01: 11.662px;
    --font-size-scale-down-02: 9.716px;
    --font-size-scale-down-03: 8.106px;
    --font-size-scale-up-01: 16.8px;
    --font-size-scale-up-02: 20.16px;
    --font-size-scale-up-03: 24.192px;
    --font-size-scale-up-04: 29.036px;
    --font-size-scale-up-05: 34.832px;
    --font-size-scale-up-06: 41.804px;
    --font-size-scale-up-07: 50.162px;
    --font-line-height-low: 1.15;
    --font-line-height-medium: 1.45;
    --font-line-height-high: 1.85;
    --grid-breakpoint-xs: 0;
    --grid-breakpoint-sm: 575px;
    --grid-breakpoint-md: 992px;
    --grid-breakpoint-lg: 1280px;
    --grid-breakpoint-xl: 1600px;
    --grid-portrait-maxwidth: 100%;
    --grid-portrait-gutter: 16px;
    --grid-portrait-columns: 4;
    --grid-portrait-margin: 8px;
    --grid-tablet-maxwidth: 100%;
    --grid-tablet-gutter: 24px;
    --grid-tablet-columns: 8;
    --grid-tablet-margin: 40px;
    --grid-desktop-maxwidth: 1200px;
    --grid-desktop-gutter: 24px;
    --grid-desktop-columns: 12;
    --grid-desktop-margin: 40px;
    --grid-tv-maxwidth: 1520px;
    --grid-tv-gutter: 40px;
    --grid-tv-columns: 12;
    --grid-tv-margin: 40px;
    --spacing-vertical-top: top;
    --spacing-vertical-center: center;
    --spacing-vertical-bottom: bottom;
    --spacing-horizontal-left: left;
    --spacing-horizontal-center: center;
    --spacing-horizontal-right: right;
    --spacing-scale-default: 0;
    --spacing-scale-base: 8px;
    --spacing-scale-2x: 16px;
    --spacing-scale-3x: 24px;
    --spacing-scale-4x: 32px;
    --spacing-scale-5x: 40px;
    --spacing-scale-6x: 48px;
    --spacing-scale-7x: 56px;
    --spacing-scale-8x: 64px;
    --spacing-scale-9x: 72px;
    --spacing-scale-10x: 80px;
    --spacing-scale-half: 4px;
    --spacing-scale-baseh: 12px;
    --spacing-scale-2xh: 20px;
    --spacing-scale-3xh: 28px;
    --spacing-scale-4xh: 36px;
    --spacing-scale-5xh: 44px;
    --spacing-scale-6xh: 52px;
    --spacing-scale-7xh: 60px;
    --spacing-scale-8xh: 68px;
    --spacing-scale-9xh: 76px;
    --spacing-scale-10xh: 84px;
    --interactive: var(--color-primary-default);
    --interactive-rgb: var(--rgb-primary-default);
    --visited: var(--color-primary-darken-01);
    --disabled: var(--surface-opacity-md, 0.45);
    --hover: var(--surface-opacity-xs, 0.16);
    --hover-effect: linear-gradient( rgba(var(--interactive-rgb), var(--hover)), rgba(var(--interactive-rgb), var(--hover)) );
    --pressed: var(--surface-opacity-md, 0.45);
    --pressed-effect: linear-gradient( rgba(var(--interactive-rgb), var(--pressed)), rgba(var(--interactive-rgb), var(--pressed)) );
    --focus-style: dashed;
    --focus-color: var(--color-support-03);
    --focus-offset: var(--spacing-scale-half);
    --focus-width: var(--surface-width-lg, 4px);
    --active: var(--color-primary-darken-01);
    --selected: var(--color-primary-lighten-01);
    --on: var(--color-primary-lighten-02);
    --off: var(--color-secondary-06);
    --ondrag-border-color: var(--interactive);
    --ondrag-border-width: var(--surface-width-md, 2px);
    --ondrag-border-style: solid;
    --ondrag-shadow-offset-x: var(--surface-offset-none, 0);
    --ondrag-shadow-offset-y: var(--surface-offset-md, 3px);
    --ondrag-shadow-blur: var(--surface-blur-lg, 6px);
    --ondrag-shadow-color: var(--interactive-rgb);
    --ondrag-shadow-opacity: var(--surface-opacity-sm, 0.3);
    --ondrag-opacity: var(--surface-opacity-xl, 0.85);
    --ondrag-rotate: -5deg;
    --ondrag-cursor: grabbing;
    --draggable-icon: grip-vertical;
    --draggable-cursor: grab;
    --dropzone-border-color: var(--interactive);
    --dropzone-border-width: var(--surface-width-sm, 1px);
    --dropzone-border-style: dashed;
    --ondrop-background: var(--interactive-rgb);
    --ondrop-opacity: var(--surface-opacity-sm, 0.3);
    --ondrop-cursor: copy;
}

html {
    line-height: var(--font-line-height-medium);
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
